.legendText {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    color:  #14141F;
}

.profilePictureInformation {
    width: 144px;
    height: 144px;
    border-radius: 144px;
}


label {
    display: block;
}

.button-large {
    font-size: 110%;
}

.primary {
    color: #1688FE;
}

.error {
    color: var(--additional-colors-red, #F25773);
}