.mainContent {
    max-height: 100vh;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    color: var(--grayscale-n-600, #4C4C55);
}

.mainItem {
    width: 75%;
}