.navbar {

    display: flex;
    padding: 8px 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    flex: 1 0 0;
    align-self: stretch;

}

.navbarContent {
    display: flex;
    padding: 6px 4px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}