.alertContent {
    display: flex;
    width: auto;
    padding: 24px;
    align-items: center;
    gap: 16px;
    background: var(--secondary-g-400-default, #008B5D);
    border-radius: 8px;
    color: var(--grayscale-white, #FFF);
}

.alertContentImageContent {
    border-radius: 1000px;
    background: var(--grayscale-white, #FFF);
    padding: 12px;
}

p.alertTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}

p.alertTextContent {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 146.667% */
}