a {
    text-decoration: none;
    color: inherit;
}

body {
    max-height: 100vh;
    overflow-x: hidden;
}

legend {
    border-bottom: none !important;
}

input[type="checkbox"] {
    margin-right: 8px;
}